* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #17172e;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "inter", sans-serif;
}

.main-box {
  background-color: #1a1b3f;
  padding: 30px;
  border: 1px solid #666;
  border-radius: 20px;
  margin: 0 10px;
}

.title {
  text-align: center;
  font-size: 2.2rem;
}

.title--rgb {
  background: linear-gradient(
    90deg,
    #ffbe0b,
    #fb5607,
    #e71d36,
    #8338ec,
    #3a86ff,
    #16db65
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title--border {
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.title--game {
  font-family: "Orbitron", "inter", sans-serif;
}

.scores {
  margin: 50px 0 20px;
  font-size: 1.3rem;
}

.scores--currentScore {
  margin-top: 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.squares {
  width: 430px;
  height: 430px;
  background-color: #17172e;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  position: relative;
  overflow: hidden;
}

.colored-square {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.losing-screen {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
}

.losing-screen p {
  font-size: 3rem;
  font-weight: 600;
}

.losing-screen button {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ---------- Responsive ---------- */
/* ---------- From 576px and below ---------- */
@media (max-width: 576px) {
  .main-box {
    padding: 25px;
  }

  .title {
    font-size: 2rem;
  }

  .scores {
    margin: 40px 0 15px;
    font-size: 1.1rem;
  }

  .scores--currentScore {
    font-size: 1.2rem;
  }

  .squares {
    max-width: 350px;
    height: 350px;
  }
}

/* ---------- From 460px and below ---------- */
@media (max-width: 460px) {
  .title {
    font-size: 1.7rem;
  }

  .scores {
    margin: 30px 0 10px;
    font-size: 1rem;
  }

  .scores--currentScore {
    font-size: 1.1rem;
  }

  .squares {
    width: 290px;
    height: 290px;
  }
}
